{% extends "base.html"%}
<head>
    {% block head %}
    {% block title %}Register Cow Profile{% endblock %}
    {% endblock %}
</head>
{% block content%}
    <h1>Register Cow Profile</h1>
    <form method="POST" action="/registerCow" enctype="multipart/form-data" id="registerCow">
        <div class="form-group">
            <label for="herdNumber">Cow ID:</label>
            <input type="text" class="form-control" id="cowID" name="cowID" placeholder="Enter Cow ID" required value="{{valueCowID}}">
        </div>
        <div class="form-group">
            <label for="name">Breed:</label>
            <select class="form-control" id="breed" name="breed">
                <option value="Aberdeen Angus">Aberdeen Angus</option>
                <option value="Belgian Blue">Belgian Blue</option>
                <option value="Limousin">Limousin</option>
                <option value="Simmental">Simmental</option>
                <option value="Friesian">Friesian</option>
                <option value="Hereford">Hereford</option>
                <option value="Charolias">Charolais</option>
                <option value="Shorthorn">Shorthorn</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name">DOB:</label>
            <input type="date" class="form-control" id="dob" name="dob" placeholder="Enter Date Of Birth" required value="{{valueDOB}}">
        </div>
        <div class="form-group">
            <label for="img">Cow Image:</label><br>
            <input class="btn btn-secondary" type="file" id="img" name="img" accept="image/*" required value="{{path}}">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Register Cow To Herd</button>
    </form>
{% endblock%}