{% extends "base.html"%}
{% block title %}Home{% endblock %}

{% block content%}
    <h1>This the home page</h1>
    {% if showPerBreed %}
        <img src="{{url_for('static',filename = 'perBreed.png')}}" height="500" width="600"/>
    {% endif %}
    {% if showWeight %}
        <img src="{{url_for('static',filename = 'SpecificWeight.png')}}" height="1200" width="1400"/>
    {% endif %}
    {% if showPastYear %}
        <img src="{{url_for('static',filename = 'PastYear.png')}}" height="1200" width="1400"/>
    {% endif %}
    <form id="selectCowForm" action="/" method="post">
        <select name="selectCow" id="selectCow" onchange="sendForm()">
            {% for cow in cows %}
                <option value="{{cow}}">{{cow}}</option>
            {% endfor %}
        </select>
    </form>
    <script>
        function sendForm() {
            document.getElementById("selectCowForm").submit();
        }
    </script>
{% endblock%}