{% extends "base.html"%}
{% block title %}Home{% endblock %}

{% block content%}
    {% if cows|length > 0 %}
    <h7>Display weights for selected cow</h7>
    <form id="selectCowForm" action="/" method="post">
        <select name="selectCow" id="selectCow" onchange="sendForm()">
            <option selected disabled>Select Cow (with weights assigned)</option>
            {% for cow in cows %}
                <option value="{{cow}}">{{cow}}</option>
            {% endfor %}
        </select>
    </form>
    {% else %}
    <p>To View Data on herd - Please Register Cows to Application</p>
    {% endif %}
    {% if showWeight %}
    <img src="{{url_for('static',filename = 'SpecificWeight.png')}}" height="auto" width="100%" style="align-items: center;"/>
    {% endif %}
    {% if showPerBreed %}
        <img src="{{url_for('static',filename = 'PerBreed.png')}}" height="auto" width="100%" style="align-items: center;"/>
    {% endif %}
    {% if showPastYear %}
        <img src="{{url_for('static',filename = 'PastYear.png')}}" height="auto" width="100%" style="align-items: center;"/>
    {% endif %}
    <script>
        function sendForm() {
            document.getElementById("selectCowForm").submit();
        }
    </script>
{% endblock%}